* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bot {
  background-color: red;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.heading ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: rgb(243, 88, 41);
}

.heading ul li {
  padding: 10px;
}

.heading ul a {
  padding: 5px;
}

a:hover {
  color: black;
}

.heading {
  height: 50px;
  background-color: hsl(271, 76%, 53%);
  width: 100%;
  border: 2px solid purple;
  border-bottom: 0;
}

section {
  width: 100%;
  height: 800px;
  border: 2px solid purple;
  background-color: rgb(243, 88, 41, 0.5);
}
