* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Gudea', sans-serif;
    margin: 5% 15% 5% 15%;
}

.name {
    color: rgb(155, 67, 228);
}

.detail {
    color: rgb(142, 145, 143);
    display: inline;
    padding: 10px;
}

.title{
    color: rgb(171, 231, 223);
}

.other {
    color: rgb(161, 187, 212);
    margin-top: 5%;
}

.inner {
    margin: 30px;
    font-size: 20px;
}

.co {
    color: teal;
}

hr {
    border: 1px dotted #d66464;
    border-style: none none dotted; 
    margin: 0 10% 0 0;
  }